.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
        display: flex;
        flex-direction: column;
        padding: 56px 8vw;
        gap: 56px;
    } 
}

.blog-background {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/background-blog_mobile.webp) center no-repeat ;
    background-size: cover;
    max-width: unset !important;
}

.overlay {
    opacity: 0.7;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-title {
    margin: auto;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    color: #fff;
    z-index: 1;
    font-weight: bold;
    max-width: 1080px;
}

.blog-post {
    height: fit-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    > img {
        width: 100%;
    }
}

.blog-post-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 18px;
}

.blog-post-date, .single-post-date {
    background: #6C3833;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.blog-post-title {
    font-size: 24px;
    font-weight: bold;
    color: #3E0A03;
}

.blog-post-content p {
    text-align: justify;
    line-height: 24px;
}

.blog-post-link {
    background: #EB9B00;
    padding: 16px;
    border: none;
    width: 100%;
    font-weight: 500;
    > a {
        color: white;
        text-decoration: none;
    }
}

.blog-post-link:hover {
    background: #ffaa01;
}

/* Single Post */
.single-post-content {
    display: flex;
    flex-direction: column;
    padding: 108px 8vw;
    gap: 24px;
    margin: auto;

    > p {
        line-height: 24px;
        text-align: justify;
    }
}

.single-post-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: justify;
    color: #3E0A03;
}

.single-post-title::first-letter {
    font-size: 175%;
}

.single-post-date {
    margin-bottom: 12px;
}

.single-post-recents {
    background: #F6F6F6;
    > div {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.post-recents-title {
    width: 100%;
    display: block;
    color: #3e0a03;
    line-height: 38px;
    font-size: 30px;
    font-weight: bold;
}

.single-post-tags, .single-post-description {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

.post-tag {
    display: flex;
    gap: 4px;
    background: #ffaa01;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    width: fit-content;
}

.post-description {
    display: flex;
    gap: 4px;
    font-size: 16px;
    color: #ffaa01;
    text-decoration: underline;
}

.post-recents-button {
    background: #6C3833;
    font-weight: 500;
    padding: 16px;
    border: none;
    margin: auto;
    height: fit-content;
    width: fit-content;
    > a {
        text-decoration: none;
        color: #fff;    
    }
}

.post-recents-button:hover {
    background: #3e0a03;
}


@media screen and (min-width: 600px) {
    .blog {
        > div {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
    }

    .blog-post {
        width: calc(50% - 16px);
    }

    .post-recents-button {
        margin: unset;
    }
}

@media screen and (min-width: 720px) {
    .background-title {
        font-size: 32px;
        line-height: 56px;
    }

    .single-post-title {
        font-size: 32px;
        line-height: 46px;
    }

}

@media screen and (min-windth: 1024px) {
    .blog-background {
        background: url(../img/background-blog.webp) center no-repeat ;
    }
}

@media screen and (min-width: 1350px){
    .blog .container-box, .single-post-content {
        max-width: 1080px;
        padding: unset;
        padding-block: 80px;
    }

    .background-title {
        font-size: 56px;
        line-height: 84px;
    }

    .single-post-title {
        font-size: 42px;
        line-height: 62px;
    }

    .single-post-content {
        > p {
            font-size: 18px;
            line-height: 32px;
        }
    }
}